.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.section1{
  margin: 0 auto;
  width: 30%;
  border: 1px solid red;
}


.limitTitle{
  text-align: center;
  margin-bottom:20px ;
}
.titleToken{
  margin-right: 10px;
}

#titleToken{
  margin-right: 57px;
}

.btnPlaceLimit{
 text-align: center;
  margin: 10px;
}

.limitContent{
  width: 300px;
  margin: 0 auto;
}

.limitContent > div{
  padding: 0px 10px;
}

.addressAccount{
  background-color: aqua;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}